@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
* {
    font-family: "Roboto", sans-serif;
}

.app-container {
    width: 800px;
    height: 630px;
    border: 1px solid rgb(113, 113, 113);
    border-radius: 4px;
    margin: 50px auto;
}

.appname {
    text-align: center;
}

.main-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

input {
    margin: 10px;
    padding: 10px;
    border: 0.5px solid rgb(113, 113, 113);
    border-radius: 4px;
}

select {
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
}

.showresultsection {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#calculate-btn {
    position: fixed;
    margin-top: 300px;
    padding: 10px 50px;
    border: 0.5px solid rgb(113, 113, 113);
    border-radius: 4px;
    cursor: pointer;
}

#result {
    position: relative;
    text-align: center;
    margin: 0;
    top: 50px;
}